Genuine Passport
Valid Passport exceeding six months
Stamped employer cover letter
Certified bank statement
Passport photos
Application form completed
Return air ticket
Hotel booking confirmation
Yellow fever card
Previous application approved
Previous visa not overstayed
Entry to thailand not denied